/* Variable Color Pallete */
:root {
    --text-color: #2EF2DF;
    --highlight-text-color: #83f7eb;
    --hover-text-color: #00b09f;
    --neon-accent: #39ff14;
    --dark-bg-color: #5B26A6;
    --darkest-bg-color: #350F40;
    --alert-text-color: #BF264F;
    --border-color: #20308C;
    --darker-bg: #070408;
    --darker-bg-translucent:  #07040890;
    font-family: "burnaby-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    --card-width: 400px;
}

/* General Styles */
 body {
    padding: 0;
    margin: 0;
    background-image: url("circuit-bg.jpeg");
    background-repeat: no-repeat;
    background: cover;
    background-color: black;
    color: var(--text-color);
    width: 100%;
}
/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 /* Header and Navigation */
header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    padding-left: 2rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10000;
    background-color: var(--dark-bg-color);
    background-image: linear-gradient(to bottom right, var(--darkest-bg-color), var(--border-color));
    color: var(--text-color);
    filter: drop-shadow(var(--border-color) 0 0 10px);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
header ul li {
    list-style: none;
    margin: 0 15px;
    letter-spacing: 2px;
    font-size: 2rem;
    display: inline;
    vertical-align: top;
    transition: 0.6s;
}
header ul li a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: var(--highlight-text-color);
    filter: drop-shadow(var(--neon-accent) 0 0 10px);
}
  .nav-link-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }


/* Sale Banner */
  #banner {
    background-color: black;
    color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 500px;
    line-height: 10px;
    text-align: left;
    background-image: url("banner-model.jpg");
    background-size: 100%;
    letter-spacing: 4px;
  }
  .banner-text {
    font-size: 3rem;
    padding: 25px;
  }
  .sale-button {
    padding: 10px 20px;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom right, var(--alert-text-color), var(--border-color));
    border: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 10px;
    transition: background-color 0.6s;
    margin-left: 45px;
    font-family: "burnaby-stencil", sans-serif;
    color: var(--text-color);
  }

  .sale-button:hover {
    background-color: #0056b3;
  }
  /* Product Catalog */

  .product-catalog {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
.product-image {
    width: var(--card-width);
}
.product-card {
    position: relative;
    margin: 10px;
}
.product-title {
    text-align: center;
    font-size: 2rem;
}

.product-text {
    /* visibility: hidden;
    background-color: var(--darker-bg);
    width: var(--card-width);
    position: absolute;
    bottom: 8px;
    left: 16px; */
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--darker-bg-translucent);
    color: white;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    font-size: 1.4rem;
    
}
/* .product-price {
    position: absolute;
    font-size: 2rem;
    top: 8px;
    right: 16px;
} */
    
.product-card:hover .product-text {
    visibility: visible;
}