<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Kommerse Magazine</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Adobe Font -->
        <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
        <!-- Material Symbols for Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index.html"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="/catalog"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
            </ul>
        </header>

        <section id="banner">
                  <div class="banner-text">
                    <h2>EPIC SALE!</h2>
                    <p>Save big on tech items!</p>
                    <p>Explore options in our store!</p>
                  </div>
                  <!-- <a href="index.html"><button class="sale-button" type="button">SHOP NOW!</button></a> -->
        </section>
        <section id="banner-2">
            <div class="banner-text">
              <h2>OUR MISSION</h2>
              <p>IMPROVE</p>
              <p>ADAPT</p>
              <p>OVERCOME</p>
            </div>
            <!-- <a href="index.html"><button class="sale-button" type="button">SHOP NOW!</button></a> -->
  </section>
        <a href="#"><h2 id="catalog-heading">SALE</h2></a>
        <!-- <section class="product-catalog">
            <article id="card-1" class = "product-card">
                <img class="product-image" src="product-images/jetpack.jpeg"/>
                <p class = "old-product-price">WAS: $1,600</p>
                <p class = "product-price">NOW: $850</p>
                <div class="product-text">
                    <h3 class= "product-title">F560 Jetpack</h3>
                    <p class = "product-description">Nothing, save perhaps for a firebolt, could ever outstrip our patented F series Jetpack.</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
            <article class = "product-card">
                <img class="product-image" src="../product-images/gigatizer.jpg"/>
                <p class = "old-product-price">WAS: $20,000</p>
                <p class = "product-price"> NOW: $10,000</p>
                <div class="product-text">
                    <h3 class = "product-title">Hypersonic Gigatizer</h3>
                    <p class = "product-description">At hypersonic speeds, this gigatizer performs all your gigatizing needs.</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
            <article class = "product-card">
                <img class="product-image" src="product-images/servers.jpg"/>
                <p class = "old-product-price">WAS: $1,000,000</p>
                <p class = "product-price"> NOW: $1,000</p>
                <div class="product-text">
                    <h3 class = "product-title">Silver Servers</h3>
                    <p class = "product-description">With astonishing speed and reliable up-time, Silver Servers provide a comprehensive hosting solution.</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
            <article class = "product-card">
                <img class="product-image" src="product-images/laptop.jpg"/>
                <p class = "old-product-price">WAS: $999</p>
                <p class = "product-price"> NOW: $444</p>
                <div class="product-text">
                    <h3 class = "product-title">80-Y Laptop</h3>
                    <p class = "product-description">With the 80-Y's best-in-class speed, you will be sure to lap your competition!</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
            <article class = "product-card">
                <img class="product-image" src="product-images/phone.jpg"/>
                <p class = "old-product-price">WAS: $650</p>
                <p class = "product-price"> NOW: $350</p>
                <div class="product-text">
                    <h3 class = "product-title">Teleportal Mobile</h3>
                    <p class = "product-description">Equipt with astoundingly crisp processing and 6 high resolution cameras, the Teleportal Mobile ensures you always stay connected.</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
            <article class = "product-card">
                <img class="product-image" src="product-images/locket.jpg"/>
                <p class = "old-product-price">WAS: $169</p>
                <p class = "product-price"> NOW: $100</p>
                <div class="product-text">
                    <h3 class = "product-title">Lunar Locket</h3>
                    <p class = "product-price">$100</p>
                    <p class = "product-description">The Lunar Locket keeps your data safe and charges it's holographic display efficently using nothing but lunar radiation.</p>
                    <a href="index.html"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                </div>
            </article>
        </section> -->
    </body>
</html>
