<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>TEST Magazine Login</title>
        <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta charset="utf-8" />
        <title>Commerce Net</title>
        <!-- Adobe Font -->
        <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
        <!-- Material Symbols for Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index.html"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="catalog.html"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
            </ul>
        </header>
        <!-- Design/Reference: https://web.dev/articles/codelab-sign-in-form-best-practices -->
        <form action="/login" method="post">
            <h1>Sign In</h1>
            <section>
                <label for="username">username</label>
                <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section>
                <label>Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button>Enter</button>
        </form>
    
    </body>
</html>
