main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 100px;
  background-color: var(--darker-bg-translucent);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 40px;
  border-radius: 25px;
 }

/*  Profile Function */
.profile-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid;
    background-color: var(--darker-bg-translucent);
    width: 100%;
    padding: 25px;
    height: 50%;
    text-align: center;
    border-radius: 25px;
}
#profileImage {
    display: row;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
div {
    display: flex;
    justify-content: center;
}
.account-info {
    width: 100%;
    height: 150px;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    /* opacity: 90%; */
}

.account-info h2 {
    margin-left: 10px;
}
.account-info p {
    font-size: 1.3rem;
    margin-left: 10px;
}
label {
    font-size: 2rem;
    margin-left: 30px;
}

.extra-feature {
    width: calc(50% - 30px);
    height: 150px;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.639);
    box-sizing: border-box;
    text-align: center;
    opacity: 90%;
}
.extra-feature h2 {
    /* margin-left: 10px; */
    opacity: 100%;
    font-size: 2rem;
}
.extra-feature p {
    font-size: 1.5rem;
    opacity: 100%;
}

:root {
    --desktop-font-size: 1.2em;
    --mobile-font-size: 22px;
  }
  /* Variable Color Pallete */
  :root {
    --text-color: #2EF2DF;
    --highlight-text-color: #83f7eb;
    --hover-text-color: #00b09f;
    --neon-accent: #39ff14;
    --dark-bg-color: #5B26A6;
    --darkest-bg-color: #350F40;
    --alert-text-color: #BF264F;
    --border-color: #20308C;
    --darker-bg: #070408;
  }
  
  button {
    border-radius: 2px;
    color: #c30000;
    cursor: pointer;
    display: block;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin: 3px 0 0 0;
    padding: 10px;
  }
  
  
  form {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 500px;
    border: solid 2px var(--border-color);
    background-color: var(--darker-bg-translucent);
    /* background-image: linear-gradient(90deg, #202929 0%, #240d25 100%); */
    border-radius: 25px;

    /* background-image: linear-gradient(var(--border-color), #F20587); */
    padding: 4rem;
    filter: drop-shadow(rgb(19, 19, 19) 0 0 25px);
    width: 80%;
  }
  
  h1 {
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0 0 5px 0;
    text-align: center;
    font-size: xx-large;
  }
  
  input {
    border: 3px solid rgba(41, 2, 77, 0.3);
    border-radius: 255px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 90%; /* fallback */
    width: calc(100% - 30px); /* full width minus padding */
  }
  
  
  input[type=email]:not(:focus):invalid,
  input[type=password]:not(:focus):invalid {
    color: black;
  }
  input:invalid {
    border: 3px solid darkblue;
  }
  
  input:focus {
    color: var(--text-color);
    outline: none;
    border-color: var(--hover-text-color);
  }
  
  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color) !important;
  }
  
  label {
    display: block;
    font-size: 20px;
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin: 0 0 3px 0;
  }
  
  @media (min-width: 450px) {
    body {
      margin: 50px;
    }
    button {
        text-align: center;
        padding: 5px 10px;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        border-radius: 10px;
        /* transition: background-color 0.6s; */
        font-family: "burnaby-stencil", sans-serif;
        color: var(--text-color);
        display: flex;
        margin: auto;
        margin-top: 20px;
    }
    input {
      font-size: 14px; /* fallback */
      font-size: var(--desktop-font-size);
    }
    label {
      font-size: 14px; /* fallback */
      font-size: var(--desktop-font-size);
    }
  }
  
  
  /* Design/Reference: https://web.dev/articles/codelab-sign-in-form-best-practices */

  a {
    color: var(--text-color);
  }

  /* #cart_icon {
    color: var(--highlight-text-color);
    font-size: 1.3rem;
  } */