input[type="text"], input[type="text"]:focus {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: aqua;
    background-color: darkslategrey;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover {
    color: var(--highlight-text-color);
    filter: drop-shadow(var(--neon-accent) 0 0 10px);
}

main {
   
   display: flex;
   justify-content: space-between;
    margin: 20px;
}

.firstDiv{
    align-items: flex-start;
    width: 65%;
}

.secondDiv{
    width: 30%;
    align-items: flex-start;
}

.product {
    display: flex;
    align-items: center;
    background-color: var(--darker-bg);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%; 

}

.product img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.description {
    flex: 1;
    padding-right: 20px;
    font-family: Arial, sans-serif;
}

.payment-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--darker-bg);
    font-family: Arial, sans-serif;
    width: 85%;
}

aside {
    border: 1px solid #ccc;
    width: 85%;
    padding: 10px;
    background-color: var(--darker-bg);
    font-family: Arial, sans-serif;
}