/* Variable Color Pallete */
:root {
    --text-color: #2EF2DF;
    --highlight-text-color: #83f7eb;
    --hover-text-color: #00b09f;
    --neon-accent: #39ff14;
    --dark-bg-color: #5B26A6;
    --darkest-bg-color: #350F40;
    --alert-text-color: #BF264F;
    --border-color: #20308C;
    --darker-bg: #070408;
    --darker-bg-translucent:  #07040890;
    font-family: "burnaby-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    --card-width: 400px;
}

/* General Styles */
 body {
    padding: 0;
    margin: 0;
    background-image: url("/images/circuit-bg.jpeg");
    background-repeat: no-repeat;
    background: cover;
    background-color: black;
    color: var(--text-color);
    width: 100%;
}
/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 /* Header and Navigation */
header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    padding-left: 2rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10000;
    background-color: var(--dark-bg-color);
    background-image: linear-gradient(to bottom right, var(--darkest-bg-color), var(--border-color));
    color: var(--text-color);
    filter: drop-shadow(var(--border-color) 0 0 10px);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
header ul li {
    list-style: none;
    margin: 0 15px;
    letter-spacing: 2px;
    font-size: 2rem;
    display: inline;
    vertical-align: top;
    transition: 0.6s;
}
header ul li a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: var(--highlight-text-color);
    filter: drop-shadow(var(--neon-accent) 0 0 10px);
}
a:hover {
  color: var(--highlight-text-color);
  filter: drop-shadow(var(--neon-accent) 0 0 10px);
}
  .nav-link-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

/* banner */
#banner-2 {
  background-color: black;
  color: var(--text-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 500px;
  line-height: 10px;
  text-align: right;
  background-image: url("/images/smiling-model.jpeg");
  background-size: 100%;
  letter-spacing: 4px;
  filter: drop-shadow(var(--border-color) 0 0 10px);
}


/* Sale Banner */
  #banner {
    background-color: black;
    color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 500px;
    line-height: 10px;
    text-align: left;
    background-image: url("/images/banner-model.jpg");
    background-size: 100%;
    letter-spacing: 4px;
    filter: drop-shadow(var(--border-color) 0 0 10px);
  }
  .banner-text {
    font-size: 3.5rem;
    padding: 25px;
    padding-left: 35px;
    color: white;
    background: -webkit-linear-gradient(#ff00b7, #1e0081);
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 100px black;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 2px black, 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
    }
    to {
      text-shadow: 0 0 2px black, 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
    }
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px black, 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
    }
    to {
      text-shadow: 0 0 2px black, 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
    }
  }
  .sale-button {
    margin-left: 45px;
    text-align: center;
    padding: 40px 80px;
    background-color: #00c116;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1000px;
    font-family: "burnaby-stencil", sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 4rem;
    background-color:#2c0296;
    background-image:
    radial-gradient(at 31% 21%, rgb(149, 0, 255) 0px, transparent 100%);
    /* radial-gradient(at 50% 47%, rgb(255, 0, 4) 0px, transparent 50%),
    radial-gradient(at 15% 99%, hsla(352,75%,72%,1) 0px, transparent 50%),
    radial-gradient(at 61% 54%, hsla(254,76%,73%,1) 0px, transparent 50%),
    radial-gradient(at 16% 29%, rgb(0, 255, 89) 0px, transparent 50%),
    radial-gradient(at 29% 90%, rgb(121, 0, 201) 0px, transparent 50%),
    radial-gradient(at 35% 52%, hsla(103,96%,72%,1) 0px, transparent 50%); */
  }
  .sale-button:hover {
    background-color: #1b015d;
    background-image:
    radial-gradient(at 31% 21%, rgb(108, 0, 184) 0px, transparent 100%);
  }

  /* Product Catalog */
  .product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #catalog-heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: underline;
    color: var(--highlight-text-color);
    filter: drop-shadow(var(--neon-accent) 0 0 10px);
  }
  #catalog-heading:hover{
    text-shadow: rgb(0, 0, 0) 0px 0 5px;
  }
.product-image {
    width: var(--card-width);
}
.product-card {
    position: relative;
    margin: 20px;
    padding: 64px;
    background-color: var(--darker-bg-translucent);
    border-radius: 15px;
}

.product-image {
  width: var(--card-width);
  border: 5px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 35px blueviolet;
}
.product-title {
    text-align: center;
    font-size: 2rem;
}

.product-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--darker-bg-translucent);
    color: white;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: var(--card-width) + 1000;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
}
.old-product-price {
    position: absolute;
    font-size: 1.1rem;
    top: 10px;
    right: 10px;
    text-decoration: line-through;
    color: var(--alert-text-color);
    text-shadow: rgb(0, 0, 0) 0px 0 2px,
                 rgb(255, 0, 0) 1px 0 10px;
}
.product-price {
    position: absolute;
    font-size: 1.5rem;
    top: 30px;
    right: 10px;
    color: var(--neon-accent);
    text-shadow: rgb(0, 0, 0) 0px 0 2px,
                 rgb(247, 0, 255) 1px 0 10px;
}
.product-buy-button {
    text-align: center;
    padding: 10px 20px;
    background-color: #00ff4890;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1000px;
    font-family: "burnaby-stencil", sans-serif;
    color: var(--text-color);
    margin-bottom: 10px;
    text-shadow: rgb(0, 0, 0) 0px 0 2px,
                 #FC0 1px 0 10px;
}
.product-card:hover .product-text {
    visibility: visible;
}

footer {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: large;
  margin-top: 0px;
  background-color: var(--darker-bg-translucent);
  color: var(--hover-text-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;

}

