<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>AUTH TEST</title>
        <link rel="stylesheet" type="text/css" href="css/accountStyle.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
       <!-- Adobe Font -->
       <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
       <!-- Material Symbols for Icons -->
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index.html"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="catalog.html"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
            </ul>
        </header>
        <!-- everything after this is added -->
            
            <main>
                <h1>Hi <%= username %> welcome to the site!</h1>
                <article class="profile-info">
                    <h1>Profile Picture</h1>
                    <div id="profile-container">
                        <img src="profile-images/profileOne.jpg" id="profileImage"/>
                        <img src="profile-images/profileTwo.jpg" id="profileImage"/>
                        <img src="profile-images/profileThree.jpg" id="profileImage"/>
                        <img src="profile-images/profileFour.jpg" id="profileImage"/>
                        <img src="profile-images/profileFive.jpg" id="profileImage"/>
                        <img src="profile-images/profileSix.jpg" id="profileImage"/>
                        <img src="profile-images/profileSeven.jpg" id="profileImage"/>
                        <img src="profile-images/profileEight.jpg" id="profileImage"/>
                    </div>
                    <h1>Select your avatar, choose your persona.</h1>
                </article>
    
               <article class="account-info">
                    <a href="accountInfo.html">
                        <h2>Account Info</h2>
                        <p>Look over e-mail, password, <br> and shipping address.</p>
                    </a>
                </article>
               <article class="extra-feature">
                    <a href="#">
                        <h2>View Cart</h2>
                        <p>View the items that are in your cart.</p>
                    </a>
                </article>
                <article class="extra-feature">
                    <a href="index.html">
                        <h2>Back to Shopping?</h2>
                        <p>Revert to the market, back to the grid.</p>
                    </a>    
                </article>
            </main>
    </body>
</html>