<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Kommerse Magazine</title>
        <link rel="icon" type="image/x-icon" href="/images/KM.jpg">
        <link rel="stylesheet" type="text/css" href="css/accountStyle.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
       <!-- Adobe Font -->
       <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
       <!-- Material Symbols for Icons -->
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="/catalog"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
                <li><a href="/logout"><div class="nav-link-wrapper">LOG OUT<span class="material-symbols-outlined">logout</span></div></a></li>
            </ul>
        </header>
            <main>
                <article class="profile-info">
                    <div id="profile-container">
                        <img src=<%= profile.profile_img_path%> id="profileImage"/>
                    </div>
                    <h1>Hi <%= username %> welcome to the site!</h1>
                </article>

                <article class="account-info">
                    <h2>Account Info:</h2>
                    <a href="/profile">
                        <p>Email: <%= profile.email %></p>
                    </a>
                </article>
                <article class="extra-feature">
                        <h2>View Cart</h2>
                        <a id="cart_icon" href="/checkout"><div class="nav-link-wrapper"><span class="material-symbols-outlined">shopping_cart</span></div></a>
                    </a>
                </article>
                <article class="extra-feature">
                    <a href="/catalog">
                        <h2>Back to Shopping?</h2>
                        <p>Revert to the market, back to the grid.</p>
                    </a>    
                </article>
            </main>
    </body>
</html>